<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- https://stackoverflow.com/a/18630847 -->
  <?if $(var.Platform) = x64 ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define ArchDir = "x64" ?>
  <?define WixQuietExec="WixQuietExec64"?>
  <?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define ArchDir = "x86" ?>
  <?define WixQuietExec="WixQuietExec"?>
  <?endif ?>

  <!-- change build flow if running under CI -->
  <?ifdef env.APPVEYOR?>
  <?define IsCI = "yes" ?>
  <?else ?>
  <?define IsCI = "no" ?>
  <?endif ?>

  <!-- file version for installer -->
  <?define VERSION = "1.3.65.0" ?>

  <!-- basic product properties -->
  <Product Id="*" Name="Nefarius BthPS3 Bluetooth Drivers" Language="1033" Version="$(var.VERSION)"
           Manufacturer="Nefarius Software Solutions e.U."
           UpgradeCode="CC32A6ED-BDFE-4D51-9FFF-2AB51D9ECE18">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!-- use single MSI file only -->
    <MediaTemplate EmbedCab="yes" />

    <!-- set setup icon and uninstall options -->
    <Icon Id="B3.ico" SourceFile="$(var.ProjectDir)Icons\B3.ico" />
    <Property Id="ARPPRODUCTICON" Value="B3.ico" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/ViGEm/BthPS3" />
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" /> 

    <!-- always perform major upgrade and remove previous versions -->
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="0A4A02DE-0BE3-4BF4-91F0-1EA47AD26881">
      <UpgradeVersion
        Minimum="1.0.0.0" Maximum="$(var.VERSION)"
        Property="PREVIOUSVERSIONSINSTALLED"
        IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <!-- don't allow downgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- https://stackoverflow.com/a/31991006 -->
    <Property Id="WIN10FOUND">
      <DirectorySearch Id="searchSystem" Path="[SystemFolder]" Depth="0">
        <FileSearch Id="searchFile" Name="advapi32.dll" MinVersion="6.3.10000.0"/>
      </DirectorySearch>
    </Property>

    <!-- https://stackoverflow.com/a/23061358 -->
    <Condition Message="This application can only be installed on Windows 10.">
      <![CDATA[Installed OR WIN10FOUND]]>
    </Condition>

    <!-- Custom action (DLL) to detect host radio -->
    <Binary Id="BthPS3CustomActions" SourceFile="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3CustomActions.dll" />

    <!-- Custom action to detect host radio -->
    <CustomAction Id="CheckHostRadioPresence" 
                  BinaryKey="BthPS3CustomActions" 
                  DllEntry="CheckHostRadioPresence" 
                  Execute="firstSequence"/>

    <!-- can't continue if this check fails -->
    <Condition Message="Bluetooth Host Radio not found. A working Bluetooth stack is required for driver installation or removal.">
      <![CDATA[RADIOFOUND = "1"]]>
    </Condition>

    <!-- write version value to registry -->
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="A6805462-9E3A-42AD-B29B-2BC57A67E80D">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Nefarius Software Solutions e.U.\BthPS3 Bluetooth Drivers">
          <RegistryValue Type="string" Name="Version" Value="$(var.VERSION)" KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- main feature are the driver files and some version registry values -->
    <Feature Id="ProductFeature" Title="Nefarius BthPS3 Bluetooth Drivers" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="RegistryEntries" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <!-- run install code -->
    <CustomAction Id="DevconInstallPropertyAssign"
                  Property="DevconInstall"
                  Value="[INSTALLFOLDER]"
                  Execute="immediate" />
    <CustomAction Id="DevconInstall" BinaryKey="BthPS3CustomActions" DllEntry="InstallDrivers"
                  Execute="deferred" Return="check" Impersonate="no" />

    <!-- run removal code -->
    <CustomAction Id="DevconRemovePropertyAssign"
                  Property="DevconRemove"
                  Value="[INSTALLFOLDER]"
                  Execute="immediate" />
    <CustomAction Id="DevconRemove" BinaryKey="BthPS3CustomActions" DllEntry="UninstallDrivers"
                  Execute="deferred" Return="ignore" Impersonate="no" />

    <!-- pre-launch conditions -->
    <InstallUISequence>
      <Custom Action="CheckHostRadioPresence" Before="LaunchConditions" />
    </InstallUISequence>

    <!-- custom installation and removal actions -->
    <InstallExecuteSequence>
      <Custom Action="CheckHostRadioPresence" Before="LaunchConditions" />
      
      <Custom Action="DevconInstallPropertyAssign" Before="DevconInstall">NOT Installed AND NOT REMOVE</Custom>
      <Custom Action="DevconInstall" Before="InstallFinalize">NOT Installed AND NOT REMOVE</Custom>

      <Custom Action="DevconRemovePropertyAssign" Before="DevconRemove">REMOVE="ALL"</Custom>
      <Custom Action='DevconRemove' After='InstallInitialize'>REMOVE="ALL"</Custom>
    </InstallExecuteSequence>

    <!-- use LICENSE as EULA, not technically an EULA but for now it has to do -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)BthPS3_EULA.rtf" />

    <!-- use minimalistic UI with EULA approval -->
    <UIRef Id="WixUI_Minimal" />

    <!-- start menu shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="DFAD166B-DDDB-4C97-BDD0-D7C5F030D937">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="BthPS3 Driver Configuration Tool"
                  Description="BthPS3 Driver Configuration Tool"
                  Target="[#BthPS3CfgUI.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" 
                       Key="SOFTWARE\Nefarius Software Solutions e.U.\BthPS3 Bluetooth Drivers" 
                       Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Product>

  <!-- build program files directory -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <!-- the "e.U." is butchered so omitted -->
        <Directory Id="NSS" Name="Nefarius Software Solutions">
          <Directory Id="INSTALLFOLDER" Name="BthPS3 Bluetooth Drivers" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="BthPS3"/>
      </Directory>
    </Directory>
  </Fragment>

  <!-- include necessary files -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="9DB08B36-09FC-48F5-8BDA-2EE24687B5DF" Win64="$(var.Win64)">
        <?if $(var.IsCI) = "no" ?>
        <!-- local build -->
        <File Name="BthPS3.sys" Source="$(var.ProjectDir)drivers\BthPS3_$(var.ArchDir)\BthPS3.sys" />
        <File Name="BthPS3.inf" Source="$(var.ProjectDir)drivers\BthPS3_$(var.ArchDir)\BthPS3.inf" />
        <File Name="BthPS3.cat" Source="$(var.ProjectDir)drivers\BthPS3_$(var.ArchDir)\BthPS3.cat" />
        <File Name="BthPS3.pdb" Source="$(var.ProjectDir)drivers\BthPS3_$(var.ArchDir)\BthPS3.pdb" />
        <File Name="BthPS3PSM.sys" Source="$(var.ProjectDir)drivers\BthPS3PSM_$(var.ArchDir)\BthPS3PSM.sys" />
        <File Name="BthPS3PSM.inf" Source="$(var.ProjectDir)drivers\BthPS3PSM_$(var.ArchDir)\BthPS3PSM.inf" />
        <File Name="BthPS3PSM.cat" Source="$(var.ProjectDir)drivers\BthPS3PSM_$(var.ArchDir)\BthPS3PSM.cat" />
        <File Name="BthPS3PSM.pdb" Source="$(var.ProjectDir)drivers\BthPS3PSM_$(var.ArchDir)\BthPS3PSM.pdb" />
        <File Name="bthps3_pdo_null_device.cat" Source="$(var.ProjectDir)drivers\BthPS3_$(var.ArchDir)\bthps3_pdo_null_device.cat" />
        <File Name="BthPS3_PDO_NULL_Device.inf" Source="$(var.ProjectDir)drivers\BthPS3_$(var.ArchDir)\BthPS3_PDO_NULL_Device.inf" />
        <File Name="WdfCoinstaller01011.dll" Source="$(var.ProjectDir)drivers\BthPS3_$(var.ArchDir)\WdfCoinstaller01011.dll" />
        <File Name="BthPS3Util.exe" Source="$(var.SolutionDir)artifacts\$(var.ArchDir)\BthPS3Util.exe" />
        <File Name="BthPS3CfgUI.exe" Source="$(var.SolutionDir)artifacts\BthPS3CfgUI.exe" />
        <File Name="LICENSE" Source="$(var.SolutionDir)\LICENSE" />
        <?else ?>
        <!-- CI build -->
        <File Name="BthPS3.sys" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3\BthPS3.sys" />
        <File Name="BthPS3.inf" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3\BthPS3.inf" />
        <File Name="BthPS3.cat" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3\BthPS3.cat" />
        <File Name="BthPS3.pdb" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3.pdb" />
        <File Name="BthPS3PSM.sys" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3PSM\BthPS3PSM.sys" />
        <File Name="BthPS3PSM.inf" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3PSM\BthPS3PSM.inf" />
        <File Name="BthPS3PSM.cat" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3PSM\BthPS3PSM.cat" />
        <File Name="BthPS3PSM.pdb" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3PSM.pdb" />
        <File Name="bthps3_pdo_null_device.cat" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3\bthps3_pdo_null_device.cat" />
        <File Name="BthPS3_PDO_NULL_Device.inf" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3\BthPS3_PDO_NULL_Device.inf" />
        <File Name="WdfCoinstaller01011.dll" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3\WdfCoinstaller01011.dll" />
        <File Name="BthPS3Util.exe" Source="$(var.SolutionDir)bin\$(var.ArchDir)\BthPS3Util.exe" />
        <File Name="BthPS3CfgUI.exe" Source="$(var.SolutionDir)bin\BthPS3CfgUI.exe" />
        <File Name="LICENSE" Source="$(var.SolutionDir)LICENSE" />
        <?endif ?>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
